/* Astrisk wildcard selector overiding the default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
    color: antiquewhite;
}

/*Generic Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* header */
header {
    background: rgb(39, 63, 77);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px antiquewhite;
}

h1 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: antiquewhite;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* main */
main {
    background-color: rgb(45, 72, 89);
    /* Make main element take up any surplus space*/
        flex-grow: 1;
        color: hsl(34, 78%, 91%);
}

/* footer */
footer {
    background: rgb(39, 63, 77);
    color: antiquewhite;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid antiquewhite;
}