/* Asterisk wildcard selector overriding the default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: antiquewhite;
}

/* Generic Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

/* header content */
header {
    background: rgb(39, 63, 77);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: antiquewhite;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
}

#menu > li {
    margin-left: 2rem;
}

.active {
    border-bottom: 1px solid antiquewhite;
}

/* Navbar styles with dropdown */
nav {
    background-color: rgb(39, 63, 77);
    padding: 0 1rem;
    box-shadow: 0 2px 2px antiquewhite;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

/* nav-toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}


/* main content */
main {
    background-color: rgb(45, 72, 89);
    /* Make main element take up any surplus space */
    flex-grow: 1;
    color: hsl(34, 78%, 91%);
    padding-top: 100px; /* Ensure the main content is not hidden behind the fixed header */
    padding: 1rem;
}

/* footer content */
footer {
    background: rgb(39, 63, 77);
    color: antiquewhite;
    text-align: center;
    padding: 1rem 0;
}

/* Media query: tablets and larger (768px and up) */
@media  screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 78px;
        margin: 0 0.5rem;
    }
    /*Main Content*/
    main {
        /* Push main content down to accomodate large header*/
        margin-top: 79px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hoover {
        border-bottom: 1px solid antiquewhite;
    }
}